<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/menuObslugiCSS.css">
</head>
<body>
    <div class="contentContainer">
        <header>
            <img alt="to mial byc obrazek">
            <h1>System obsługi zamówień i reklamacji</h1>
            <p>Placeholder For LoginControl</p>
        </header>
        <div class="centerContentContainer">
            <nav>
                <div class="marginDiv">
                    <a href="/pracownik/zamowienia">
                        <div class="labelAndImage">
                            <span>Obsługa Zamówień</span>
                            <img src="/images/Zamówienia.jpg">
                        </div>
                    </a>
                </div>
                <div class="marginDiv">
                    <a href="/pracownik/reklamacje">
                        <div class="labelAndImage">
                            <span>Obsługa Reklamacji</span>
                            <img src="/images/Zwrot.jpg">
                        </div>
                    </a>
                </div>
            </nav>
        </div>
    </div>
</body>
</html>